<!-- Forgot password modal -->
<div id="forgot-password" class="modal">
  <div class="modal-content">
    <h5>Recuperar Senha</h5>
    <p>
      O sistema enviará automaticamente, um link para o e-mail cadastrado no sistema. Você deverá clicar no link e abrir a página de redefinição de senha. No formulário aparecerá para você digitar uma nova senha com a qual poderá logar novamente no sistema.
    </p>

    <div class="row">
      <h5><span class="red-text">AVISO</span></h5>
      <ol>
        <li>
          <span>O serviço de e-mail da Microsoft (ex. Hotmail) não está recebendo e-mails da UFMS.</span>
        </li>
        <li>
          <span>Caso você não esteja recebendo os emails, verifique sua caixa de SPAM (Lixo Eletrônico).</span>
        </li>
        <li>
          <span>Se o problema persistir, entre em contato pelo telefone 3345-7292.</span>
        </li>
      </ol>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Digite seu login ou e-mail" id="email-login" type="text" class="validate">
        <label for="email-login">E-mail/Login</label>
      </div>
      <div class="col s6 center-align">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Cancelar</a>
      </div>
      <div class="col s6 center-align">
        <a class="waves-effect waves-light btn light-blue darken-2">Enviar</a>
      </div>
    </div>
  </div>
</div>