<!-- Help Modal -->
<div id="helpModal" class="modal">
  <div class="modal-content">
    <h5>Ajuda</h5>
    <p>
      <b>Aluno de Graduação</b><br> O login é o seu RGA e a senha inicial é o seu CPF, somente números.<br> Para saber seu
      RGA, acesse o Perfil Socieconômico (http://perfil.ufms.br/), após a confirmação da matrícula, ou procure a secretaria
      acadêmica do curso.<br>

      <b>Aluno de Pós-graduação</b><br> Para acessar o portal da pós-graduação clique aqui.<br>

      <b>Professor</b><br> Para obter informações sobre acesso ao sistema, por favor, entre em contato com a DIGAD/PROGRAD.<br>

      <b>Dúvidas, Sugestões e Suporte</b><br> Clique aqui para entrar em contato.<br>
    </p>
  </div>
</div>