<navbar title="Home"></navbar>
<div class="container center-align">
  </br>
	<img class="logo-box" src="images/logo.png"/>
  <h4>Bem vindo ao Siscad</h4>
</div>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active">
      <i class="material-icons">message</i>
      Mensagens
    </div>
    <div class="collapsible-body">
      <span>Lorem ipsum dolor sit amet.</span>
    </div>
    <div class="collapsible-body">
      <span>Lorem ipsum dolor sit amet.</span>
    </div>
    <div class="collapsible-body">
      <span>
        Uma experiência única que você não pode perder
        No talk, all action! O maior evento de empreendedorismo prático do mundo em 54h de ação!
        O Startup Weekend UFMS será realizado pela primeira vez na universidade. Serão 54 horas ao longo de um fim de semana (7, 8 e 9 de julho de 2017 no Centro de Formação de Professores da UFMS - Térreo) com diversos empreendedores, desenvolvedores, designers e entusiastas, que se unem para compartilhar ideias, formar equipes e criar startups. É o maior conjunto de eventos de startups do mundo, com edições realizadas em quase 700 cidades em todos os continentes.
        Tudo começa na noite de sexta-feira, com o palco aberto para os participantes compartilharem suas ideias e inspirarem outros a se juntarem a seus times. As mais bem votadas são escolhidas. Durante o sábado e o domingo, os times se focam em encontrar um modelo de negócios e criar um produto viável mínimo, utilizando metodologias e ferramentas como Lean Startup, Business Model Generation e Desenvolvimento de Clientes. Durante a maior parte do tempo haverá mentores convidados à disposição dos participantes. No domingo, os times apresentam o que construíram e recebem feedbacks valiosos de jurados experts. Os melhores são premiados!
      </span>
    </div>
    <div class="collapsible-body">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio eros, faucibus vel nunc ac, viverra molestie metus. Nulla convallis justo orci, vel elementum purus molestie a. Aliquam quis ultricies leo. Morbi aliquam turpis non ex tristique, sed vulputate mi commodo. Curabitur at aliquam lacus, at blandit lectus. Proin tempus ligula vitae ipsum convallis sollicitudin. Suspendisse blandit lobortis ipsum, eget viverra metus pretium a. Ut orci lacus, eleifend vel libero et, convallis accumsan risus.
      </span>
    </div>
  </li>

</ul>

<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  });
</script>