<navbar title="Notas e Frequências"></navbar>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="material-icons"></i>Disciplinas de 2017/1</div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">VERIFICAÇÃO, VALIDAÇÃO E TESTE DE SOFTWARE I</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina-2">REDES DE COMPUTADORES</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">INTERAÇÃO HUMANO-COMPUTADOR</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina-2">ESTRUTURAS DE DADOS E PROGRAMAÇÃO ORIENTADA A OBJETOS</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">EMPREENDEDORISMO</a>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina-2">ARQUITETURA DE SOFTWARE</a>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Disciplinas de 2016/2</div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ANÁLISE E PROJETO DE SOFTWARE ORIENTADO A OBJETOS</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina-2">BANCO DE DADOS</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">SISTEMAS OPERACIONAIS</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina-2">MODELAGEM DE PROCESSOS DE NEGÓCIO</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">GERÊNCIA DE PROJETOS</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">FUNDAMENTOS DE TEORIA DA COMPUTAÇÃO</a>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">COMPUTAÇÃO E SOCIEDADE</a>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Disciplinas de 2016/1</div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ARQUITETURA DE COMPUTADORES I</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS II</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ENGENHARIA DE REQUISITOS</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">FUNDAMENTOS DE TEORIA DA COMPUTAÇÃO</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">INTRODUÇÃO À ADMINISTRAÇÃO</a>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons"></i>Disciplinas de 2015/2
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS I</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">MODELAGEM DE PROCESSOS DE NEGÓCIO</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">PROCESSOS DE SOFTWARE</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ARQUITETURA DE COMPUTADORES I</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS II</a>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons"></i>Disciplinas de 2015/1
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">MÉTODOS NUMÉRICOS</a>
      </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">INTRODUÇÃO A SISTEMAS DIGITAIS</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">INTRODUÇÃO À ENGENHARIA DE SOFTWARE</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">INTRODUÇÃO À ADMINISTRAÇÃO</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">COMUNICAÇÃO E EXPRESSÃO</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">CÁLCtrO II</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ÁLGEBRA LINEAR</a></div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">CÁLCULO I</a></div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS I</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">VETORES E GEOMETRIA ANALÍTICA</a>
    </div>
    <div class="collapsible-body">
      <a class="col-11 col-12" href="#!/nota-disciplina">PROBABILIDADE E ESTATÍSTICA</a>
    </div>
    </div>
  </li>
</ul>
<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  });
</script>