<navbar title="ALGORITMOS E PROGRAMAÇÃO..."></navbar>
<div>
    </br>
    <div class="container row">
        <div Class="col s12"><label class="bold">Disciplina: </label><label class="default-label">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS II</label></div>
        <div class="col s6"><label class="bold">Ano/Semestre: </label><label class="default-label">2016/1 </label></div>
        <div class="col s6"><label class="bold">Carga Horária: </label><label class="default-label">102h</label></div>
        <div class="col s6"><label class="bold">Tipo da Disciplina: </label><label class="default-label">OBR</label></div>
        <div class="col s6"><label class="bold">Turma: </label><label class="default-label">P01</label></div>
        <div class="col s12"><label class="bold">Professor: </label><label class="default-label">ANDERSON VICOSO DE ARAÚJO</label></div>
    </div>
    <div class="container">
    <img class="materialboxed" src="images/grafico.png" width="100%" />
    <div class="container row">
        <div Class="col s12"><label class="bold">Média Final: </label><label class="default-label">8.2</label></div>
        <div Class="col s12"><label class="bold">Frequência: </label><label class="default-label">Presença: 100% &nbsp&nbsp&nbsp&nbsp Ausência: 0%</label></div>
        <div Class="col s12"><label class="bold">Situação: </label><label class="default-label">AP (Nota enviada para a PROGRAD)</label></div>
    </div>
    <div class="container">
        <table class="striped" title="Frequência">
            <!-- <label>Frequências:</label> -->
            <thead>
                <tr>
                    <th class="center-align"><label class="default-label">Data</label></th>
                    <th class="center-align"><label class="default-label">1ª Hora/Aula</label></th>
                    <th class="center-align"><label class="default-label">2ª Hora/Aula</label></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
                <tr>
                    <td class="center-align">01/01/1752</td>
                    <td class="center-align">P</td>
                    <td class="center-align">P</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.materialboxed').materialbox();
    });
</script>