<navbar title="Notas e Frequências"></navbar>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="material-icons"></i>Disciplinas de 2017/1</div>
    <div class="collapsible-body">
      <span>
        <table class="bordered">
          <tbody>
            <tr>
              <td>
                <a class="col-11 col-12" href="#!/nota-disciplina">VERIFICAÇÃO, VALIDAÇÃO E TESTE DE SOFTWARE I</a>
              </td>
            <tr>
              <td>
                <a class="col-11 col-12" href="#!/nota-disciplina">
                  REDES DE COMPUTADORES
                </a>
              </td>
            <tr>
              <td>
                <a class="col-11 col-12" href="#!/nota-disciplina">
                  INTERAÇÃO HUMANO-COMPUTADOR
                </a>
              </td>
            <tr>
              <td>
                <a class="col-11 col-12" href="#!/nota-disciplina">
                  ESTRUTURAS DE DADOS E PROGRAMAÇÃO ORIENTADA A OBJETOS
                </a>
              </td>
            <tr>
              <td>
                <a class="col-11 col-12" href="#!/nota-disciplina">
                  EMPREENDEDORISMO
                </a>
              </td>
            <tr>
              <td>
                <a class="col-11 col-12" href="#!/nota-disciplina">
                  ARQUITETURA DE SOFTWARE
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Disciplinas de 2016/2</div>
    <div class="collapsible-body">
      <span>
        <table class="bordered">
          <thead>
            <tr>
              <th>Disciplina</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ANÁLISE E PROJETO DE SOFTWARE ORIENTADO A OBJETOS</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">BANCO DE DADOS</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">SISTEMAS OPERACIONAIS</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">MODELAGEM DE PROCESSOS DE NEGÓCIO</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">GERÊNCIA DE PROJETOS</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">FUNDAMENTOS DE TEORIA DA COMPUTAÇÃO</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">COMPUTAÇÃO E SOCIEDADE</a></td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Disciplinas de 2016/1</div>
    <div class="collapsible-body">
      <span>
        <table class="bordered">
          <thead>
            <tr>
              <th>Disciplina</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ARQUITETURA DE COMPUTADORES I</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS II</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ENGENHARIA DE REQUISITOS</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">FUNDAMENTOS DE TEORIA DA COMPUTAÇÃO</a></td>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">INTRODUÇÃO À ADMINISTRAÇÃO</a></td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Disciplinas de 2015/2</div>
    <div class="collapsible-body">
      <span>
        <table class="bordered">
          <thead>
            <tr>
              <th>Disciplina</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS I</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">MODELAGEM DE PROCESSOS DE NEGÓCIO</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">PROCESSOS DE SOFTWARE</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ARQUITETURA DE COMPUTADORES I</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS II</a></td>
            </tr>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons"></i>Disciplinas de 2015/1</div>
    <div class="collapsible-body">
      <span>
        <table class="bordered">
          <thead>
            <tr>
              <th>Disciplina</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">MÉTODOS NUMÉRICOS</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">INTRODUÇÃO A SISTEMAS DIGITAIS</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">INTRODUÇÃO À ENGENHARIA DE SOFTWARE</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">INTRODUÇÃO À ADMINISTRAÇÃO</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">COMUNICAÇÃO E EXPRESSÃO</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">CÁLCtrO II</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ÁLGEBRA LINEAR</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">CÁLCULO I</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">ALGORITMOS E PROGRAMAÇÃO ORIENTADA A OBJETOS I</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">VETORES E GEOMETRIA ANALÍTICA</a></td>
            </tr>
            <tr>
              <td><a class="col-11 col-12" href="#!/nota-disciplina">PROBABILIDADE E ESTATÍSTICA</a></td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </li>
</ul>
<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  });
</script>