.nav-color {
    background-color: #1887B4
}
.img-ajust {
    width: 100%;
    height: auto
}
.default-label {
    color: black;
    text-align: left
}
.overlay-all {
  position: relative;
  z-index: 2
}
.no-padding {
    padding-right: 0;
    padding-left: 0
}
.logo-box {
    width: 60px;
    height: auto
}
label {
    font-size: 1.0rem;
}
.bold {
    font-weight: bold;
    color: #616161;
}